@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    padding: 0 3rem;
   
}
.container{
    width: min(90%, 1249px);
    margin-inline: auto;
    padding: 2rem 0;
  
}

.Desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    
}
.logo{
    cursor: pointer;
    padding: 5px 0;
}
.Desktop-menu .menu-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.Desktop-menu .menu-links li a{
    text-decoration: none;
    color: #373736;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
}
.Desktop-menu .menu-links li a:hover{
    color: #FC95C4;
    
    
}
.Desktop-menu button{
    background-color: transparent;
    color: #373736;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.25rem;
    cursor: pointer;
    
}
.Desktop-menu button:hover{
    color: var(--primary-color);
    background-color: #FC95C4;
}
.hamburger{
    display: none;
}
.mobile-menu{
    display: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;

}
.content{
    display: block;
    align-items: center;
    padding: 20px;
    margin: 20px;       

}

.content h1{
    line-height: normal;
    font-size: 40px;
    font-weight: 700;
    color: #373736;

}
.content p{
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word;
    color:rgb(55, 55, 54);
   
}
.readme {
    background-color: #fc95c4;
    padding: 10px 0px;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    margin: 1rem 0;

}
.readme a{
    text-decoration: none;
    color: #ffffff;    
    font-weight: bold;
    font-size: 16px;
}
.readme:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #212121;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


.footer-section{
    background-color: #f1f1f1;


}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
.footer p{
    font-size: 1rem;
    color: #373736;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;
}

@media(max-width: 990px){
        .Desktop-menu{
        display: none;
    }
    .logo{
        width: 60%;

    }
    .hamburger{
        display: flex;
        align-items: center;
       justify-content: center;
       position: absolute;
       top: 5%;
       right: 5%;
       background-color: #fefefd;
       color: #373736;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        font-size: 2rem;
        padding: 2rem;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
       
    }
    .mobile-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color:#f4f4f4 ;
        inset: 0 0 0 0;
        transform: translatey(100%);
        transition: transform 350ms ease-in-out;
    }
        i{
        z-index: 11111;
    }
    
        .mobile-menu[data-visible="false"] {
        transform: translatey(0%);
    }
    .hamburger i[data-visible="true"]{
        display: block;
    }
    .hamburger i[data-visible="false"]{
        display: none;
    }
    
    .mobile-menu .navigation{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        
    }
    
    .mobile-menu .navigation .menu-links{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        list-style: none;
        gap: 1.5rem;
    }
    .mobile-menu .navigation .menu-links li a{
        text-decoration: none;
        color: #373736;
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: capitalize;
    }
    .mobile-menu .navigation .menu-links li a:hover{
        color: #FC95C4;
    }
    body{
        padding: 2rem
        ;
    }
    .about{
        width: 100%;
        margin-left: 0;
        display: block;
        align-items: normal;
        justify-content: center;
        align-items: center;
        
    }
    .content{
        padding: 0;
        margin-top: 2rem;
        width: 100%;
        margin-left: 0;
    }
    .content h1{
        font-size: 20px;
    }
    .content p{
        word-wrap: break-word;
        line-height: 28px;
    }
    .readme{
        width: 100%;
    }
    img{
        width: 100%;
    }
     .footer p{
        
    font-size: 0.8rem;
    line-height: 1.5rem;
    }
}