*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: "Poppins", sans-serif;

}


:root{
    --primary-color: #f1f1f1;
    --secondary-color: #FC95C4;
    --text-color: #373736;
    --background-color: #fefefd;
}

.container{
    width: min(90%, 1249px);
    margin-inline: auto;
    padding: 2rem 0;
  
}



.Desktop-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
    
}

.logo{
    cursor: pointer;
    padding: 5px 0;

}

.Desktop-menu .menu-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.Desktop-menu .menu-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: capitalize;
}
.Desktop-menu .menu-links li a:hover{
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;

    
    
}

.Desktop-menu button{
    background-color: transparent;
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.25rem;
    cursor: pointer;
    
}
.Desktop-menu button:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.hamburger{
    display: none;
}

.mobile-menu{
    display: none;
    z-index: 999;
}


.contact-us{
    width: 100%;
    height: 100%;
    margin-top: 100px ;
    background-color:#ffffff;
   
}
.contact-us .contents{
  display: flex;
  gap: 2rem;
}


.contact-us .content-form {
    display: flex;
    gap: 1rem;
    width: 500px;

  
 

    
}

.contact-us .content-form h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    
}


.contact-us .content-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}

.contact-us .content-form form input{
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.btn-form{
    margin-right: 50%;
}

.btn{
    margin-top: 2rem;
}


.btn a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.125rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    margin-top: 50px;
}

 .btn a:hover{
    background-color: var(--secondary-color);
    color: #ffffff;
  
}


.content-contact{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

   
}

.content-boxs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
   
    
  
}

.box{
    display: flex;
    gap: 1rem;
    
}

.box i{
    font-size: 2rem;
    color: var(--text-color);
}
.box p{
    font-size: 1.125rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5rem;
}


.newsletter label,input{
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    width: 100%;
}

.social-icons{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
   
   
}
.social-icons i{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 100px;
}
.social-icons i:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}



.footer-section{
    background-color: var(--primary-color);


}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
.footer p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
    text-align: center;
    line-height: 1.5rem;
}







/* Tablets */

@media (max-width: 991px){
    .Desktop-menu {
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
       justify-content: center;
       position: absolute;
       top: 5%;
       right: 5%;
       background-color:var(--background-color);
       color: var(--text-color);
        width: 50px;
        height: 50px;
        border-radius: 10%;
        font-size: 2rem;
        padding: 2rem;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
       
    }

       i{
        z-index: 11111;
    }


    .mobile-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color:#f4f4f4 ;
        inset: 0 0 0 0;
        transform: translatey(100%);
        transition: transform 350ms ease-in-out;


    }

     
    
     .mobile-menu[data-visible="false"] {
        transform: translatey(0%);
    }

    .hamburger i[data-visible="true"]{
        display: block;
    }

    .hamburger i[data-visible="false"]{
        display: none;
    }
    
    .mobile-menu .navigation{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        
    }

    .mobile-menu .navigation .menu-links{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        list-style: none;
        gap: 1.5rem;
    }

    .mobile-menu .navigation .menu-links li a{
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: capitalize;
    }

    .mobile-menu .navigation .menu-links li a:hover{
        color: var(--secondary-color);
    }

    
  
  

}




/* Mobiles */
@media (max-width: 480px){
     .Desktop-menu{
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
       justify-content: center;
       position: absolute;
       top: 5%;
       right: 5%;
       background-color:var(--background-color);
       color: var(--text-color);
        width: 50px;
        height: 50px;
        border-radius: 10%;
        font-size: 2rem;
        padding: 2rem;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
       
    }


    
        i{
        z-index: 11111;
    }


    .mobile-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color:#f4f4f4 ;
        inset: 0 0 0 0;
         transform: translatey(0%);
        transition: transform 350ms ease-in-out;


    }

        .mobile-menu[data-visible="false"] {
        transform: translatey(100%);
    }

    .hamburger i[data-visible="true"]{
        display: block;
    }

    .hamburger i[data-visible="false"]{
        display: none;
    }
    
    .mobile-menu .navigation{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        
    }

    .mobile-menu .navigation .menu-links{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        list-style: none;
        gap: 1.5rem;
    }

    .mobile-menu .navigation .menu-links li a{
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: capitalize;
    }

    .mobile-menu .navigation .menu-links li a:hover{
        color: var(--secondary-color);
    }

   

    
.contents{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.content-form {
  padding: 3rem;
}

.social-icons{
    margin-top: 2rem;
}



   
}

